{% extends 'bootstrap/base.html' %}

{% block title %}
	{% if title %}{{ title }} - Messenger {% else %} Welcome to messenger{% endif %}
{% endblock %}

{% block navbar %}
	<link rel='stylesheet' href='{{ url_for('static', filename='css/style.css') }}'/>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

	<nav class="navbar navbar-default sticky-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href='{{ url_for('auth.login') }}' class="navbar-brand">Messenger</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href='{{ url_for('auth.login') }}'>Login</a></li>
					<li><a href='{{ url_for('auth.signup') }}'>Signup</a></li>
					<li><a href='{{ url_for('main.messages') }}'>Messages</a></li>
					<li><a href='{{ url_for('main.contacts') }}'>Contacts</a></li>
					<li><a href='{{ url_for('main.user') }}'>Profile</a></li>
					<li><a href='{{ url_for('settings.general') }}'>Settings</a></li>
					<li><a>Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
{% endblock %}

{% block content %}


    <div class="container">
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
